.main {
  background-image: url("./assets/img/c-f.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  overflow: hidden;
  width:100vw;
}

.box {
  max-width: 550px;
  width: 100%;
  margin-left: 50%;
  background-color: lightslategray;
  padding: 30px 40px;
  padding-top: 5px;
  border-radius: 20px;
  color: #fff;
  margin-top: 250px;
}
input {
  padding: 8px 40px;
  border-radius: 5px;
  border: 0;
  font-size: 20px;
}
legend{
  font-size: 20px;
  color:rgb(73, 238, 183)
}
